body {
    margin: 0;
    background-color: #000;
    font-family: Arial;
}
watched {
    align-items: right;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: #FFFFFF;
}

h3 {
    font-size: 14px;
    color: #FFFFFF
}
.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1.1rem;
    width: 10rem;
    height: 15rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 1px 2px #1417ac;
    flex-direction: column;
  }

  .card:hover {
      background-color: rgb(176, 195, 255);
  }

  .poster {
      justify-self: center;
      object-fit: cover;
      border: grey solid 0.5px;
      height: 8rem;
      width: auto;
  }

  button {
      background-color: rgb(122, 6, 6);
      border: grey solid 1px;
      color: white;
      font-weight: bold;
      justify-self: center;
      width: 6rem;
      height: 2rem;
  }

  button:hover {
    background-color: whitesmoke;
    border: rgb(122, 6, 6) solid 1px;
    color: rgb(122, 6, 6);
  }

  .random-button {
    display: inline-block;
  }